@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Roboto:wght@300;400&display=swap");
.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fontXS {
  font-size: 0.5em; }

.fontSM {
  font-size: 0.8em; }

.fontMD {
  font-size: 1em; }

.fontLG {
  font-size: 1.3em; }

.fontXL {
  font-size: 1.6em; }

.fontXXL {
  font-size: 2em; }

.fontXXXL {
  font-size: 3em; }

#topbar {
  height: 5vh;
  background-color: #005248;
  display: flex;
  justify-content: space-around;
  width: 100vw; }
  #topbar .divTopBar {
    max-height: 100%;
    width: auto;
    display: flex;
    justify-content: center; }
    #topbar .divTopBar a {
      height: 100%;
      display: flex;
      align-items: center; }
      #topbar .divTopBar a p {
        display: none;
        text-decoration: none; }
    #topbar .divTopBar img {
      height: 80%; }

.navbar-brand {
  height: 100%; }
  .navbar-brand img {
    max-height: 100px; }

.bg-gradiente {
  background: linear-gradient(0deg, white 0%, #005248 95%, #005248 100%, #005248 100%); }

.fontLG {
  font-size: 1.3em; }

#calidadATuMesa {
  text-decoration: none;
  font-size: 0.5em;
  width: max-content;
  margin: auto;
  padding: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(0, 52, 48, 0.7);
  border-radius: 4em; }
